.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-items {
    flex:1;
}
    
.photo {
    width: 200px;
    height: 200px;
    margin: 5px;
}
    
.search-input {
    width: 90%;
    padding: 10px;
    margin: 25px 0px;
}


    